@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    /* @apply text-black; */
  }
  button {
    @apply px-3 py-1 text-lg md:text-xl cursor-pointer;
  }

  .navul > li {
    @apply cursor-pointer;
  }
  .btn {
    @apply rounded px-4 py-1;
  }
  .btn-main {
    @apply bg-gradient-to-r from-[#3464b6] to-black text-white px-8 hover:from-black hover:to-black hover:text-[#3464b6] hover:scale-95 duration-500;
  }

  .btn-green {
    @apply bg-green-700 text-white;
  }
  .btn-outline {
    @apply bg-transparent border border-[var(--primary)] text-[var(--primary)];
  }
  .nav-container {
    @apply w-full px-2 md:px-3 py-1 flex justify-between text-gray-900 items-center;
  }
  #navbar li {
    @apply mx-2 px-2 hover:text-[#3464b6] duration-300 font-semibold;
  }
  .container {
    @apply max-w-[1240px] mx-auto px-2 w-full;
  }
  .mobnav {
    @apply w-full md:hidden absolute p-4 bg-gray-200 text-black z-50;
  }
  .mobnav ul {
    @apply mb-6;
  }
  .mobnav li {
    @apply py-2;
  }
  .logo {
    @apply font-bold text-[#3464b6] text-4xl md:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-3xl font-bold;
  }
  h2.title {
    @apply border-b-4 w-fit border-[#3464b6] mb-8;
  }
  h4 {
    @apply text-lg md:text-xl;
  }
  #contact .form-group > input,
  #contact .form-group > select,
  #contact .form-group > textarea {
    @apply w-full outline-none focus:outline-none focus:border py-1 border focus:border-black rounded-sm px-2;
  }
  .form-group {
    @apply flex flex-col mb-4;
  }
  #contact {
    @apply bg-slate-200;
  }
  h3.soci {
    @apply text-xl md:text-3xl font-semibold;
  }

  .medias > div {
    @apply p-6 shadow-xl border bg-gray-300/40 hover:bg-[#3464b6] hover:scale-90 hover:cursor-pointer duration-500;
  }
  .medias-f > div {
    @apply p-2 text-gray-500 hover:text-gray-100 duration-500;
  }
  #footer {
    @apply text-gray-300;
  }
  /* #footer ul {
    @apply;
  } */
  #footer ul li:not(:first-child) {
    @apply mt-3 w-fit hover:mr-3 duration-500 hover:text-white;
  }
  .box {
    @apply p-4 shadow-md border min-w-[280px] flex flex-col justify-center items-center;
  }
  #form-admin > input,
  #form-admin > button {
    @apply w-full bg-gray-200 my-1 py-1 px-2 outline-none rounded;
  }
  .dot {
    @apply hidden md:hidden my-auto p-1 md:p-2 bg-white/60 hover:bg-white rounded-full;
  }
  .options {
    @apply py-4;
  }

  #admin button.btn {
    @apply px-6 py-1 bg-black text-gray-200 rounded hover:bg-[#3464b6]/90;
  }
  #admin button.active {
    @apply bg-[#3464b6];
  }

  #requestsTable thead {
    @apply bg-gray-300;
  }
  /* #requestsTable thead tr {
    @apply py-2 pr-2 text-right;
  } */
  #requestsTable th {
    @apply py-2 pl-2 text-left;
  }

  #requestsTable td {
    @apply py-1 border-b pl-2 bg-white;
  }

  #requestsTable .not_read td {
    @apply py-1 border-b pl-2 bg-gray-200;
  }
}
